*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:  #17181A;
}
h1{
    font-size: 40px;
    color:  #FF9500;
    text-align: center;
    margin-top: 20px;
}
form{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #FF9500;
    background: #17181A;
    text-align: center;
    width: 400px;
    margin: 50px auto;
}
form input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #17181A;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color:  #505050 !important;
    caret-color: #FF9500;
}
form input::placeholder{
    color: #17181A;
}

form input:hover{
    border-color: #FF9500;
}
form input:focus {
  border-color: #FF9500;
  outline: none;
  background-color: #505050 !important;
}
form button{
    width: 60%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background: #FF9500;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
form button:hover{
    background:#17181A;
    color: #FF9500;
    border: 1px solid #FF9500;
}
.cardBox{
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
     box-shadow: 0 0 10px #FF9500;
    background:#17181A;
    width: 400px;
    display: none;
}
.cardBox h3{
    font-size: 30px;
    color: #FF9500;
}
.card{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(255, 149, 0, 0.35);

    background:  #17181A;
    text-align: left;
    width: 100%;
    margin: 20px auto;
    color: white;
}
.card p{
    font-size: 20px;
    margin: 10px 0;
}
#back{
    color: #FF9500;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
    text-align: left;
}
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #505050 inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}